@media only screen and (max-width: 576px) {
    .title5 {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 576px) {
    .minilogo {
        font-size: 26px;
    }
}

@media only screen and (max-width: 576px) {
    .gamesize {
        width: 90%;
        height: 300px;
    }
}