@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.letter2{
    text-decoration: none;
    color: #F4EB49;
    font-family: "Pixelify Sans";
    font-weight: 400;
    font-size: 16px;
    }

.letter2:hover{
    color: #fa3301;
}

.line {
    content: "";
    display: inline-block;
    height: 30px; 
    width: 2px; 
    background-color: red; 
    margin-left: 30px; 
    margin-right: 30px; 
    vertical-align: middle; 
}
.logo-press{
    width: 50%;
}

.minilogo  {
    color: #FF3823;
    font-family: "Press Start 2P";
    font-weight: bold;
    font-size: 36px;
    line-height: 1.28;
    letter-spacing: -0.5px;
    margin-left: 25px;

}

.letter1{
    color: #F4EB49;
    font-family: "Pixelify Sans";
    font-weight: bold;
    font-size: 36px;
    line-height: 1.44;
    text-align: center;
}

.picmod{
    height: 400px;
}

main{
    display: flex;
}

.title4 {
    width: 100%;
    height: 135px;
    color: #FF3823;
    font-family: "Press Start 2P";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.28;
    text-align: center;
}

.title5{
    height: 184px;
    opacity: 80%;
    color: #F4EB49;
    font-family: "Pixelify Sans";
    font-weight: 400;
    text-align: justify;
}

.img2{
    height: 350px;
    background: #00000000;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.9s; /* animation */
}

.img2:hover {
    filter: grayscale(0%);
    transform: scale(1.1);

}

.font6{
    width: 100%;
    color: #39FF14;
    font-family: "Press Start 2P";
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.s2 > div:last-child{
    width: 100%;
    display: flex;
    
}

.title2{
    width: 199px;
    height: 25px;
    color: #FFA500;
    font-family: "Press Start 2P";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

.title3{
    width: 199px;
    height: 25px;
    color: #FF3823;
    font-family: "Press Start 2P";
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}
b{
    color: #FF3823;
    font-family: "Press Start 2P"; 
    font-size: 14px;
}

.paragrap1{
    width: 200px;
    opacity: 80%;
    color: #D757F6;
    font-family: "Pixelify Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 1.42;
    padding-top: 10px;
    padding-bottom: 10px;
}
.paragrap2{
    width: 200px;
    opacity: 80%;
    color: #FFA500;
    font-family: "Pixelify Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 1.42;
    padding-top: 10px;
}

.container2 > div:first-child{
    width: 40%;
    background-color: F4EB49;
} 
footer{
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 30px 8px 8px 8px;
    background-color: #F4EB49;
}

footer *{
    background-color: inherit;
}

.link-bar-2 {
    width: 100%;
    height: 60px;
    text-align: center;

}
.link-bar-2 ul li{
    list-style: none;
    display: inline-block;
    font-family: "Pixelify Sans";
    font-weight: 400;
    font-size: 20px;
}

.link-bar-2 a{
    text-decoration: none;
    color: #FFA500;
}

.link-bar-2 a:hover{
    color: #fa3301;
}

.line2 {
    content: "";
    display: inline-block;
    height: 30px; 
    width: 3px; 
    background-color: #0C59CF; 
    margin-left: 30px; 
    margin-right: 30px; 
    vertical-align: middle; 
}



footer .container2 > div:last-child{
    width: 50%;
}

footer p{
    width: 300px;
    height: 67px;
    color: #FFA500;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

footer > div:last-child{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


@media only screen and (max-width:576px) {
    .title5{
        padding-left: 50px;
        padding-right: 50px;
    }


}

@media only screen and (max-width:576px) {
    .minilogo{
        font-size: 26px;
    }
}